.navbar {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.xLargeText {
  font-size: 6rem;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.footer-link {
  text-decoration: underline;
}

.footer-link:not(:first-child)::before {
  content: '';
  margin: 0 5px
}

.card.is-horizontal.is-half .card-image {
  flex: 6;
}
.card.is-horizontal.is-half .card-content {
  flex: 6;
}

.card.is-horizontal.is-quarter .card-image {
  flex: 3;
}
.card.is-horizontal.is-quarter .card-content {
  flex: 9;
}

.card.is-horizontal.is-third .card-image {
  flex: 4;
}
.card.is-horizontal.is-third .card-content {
  flex: 8;
}

.card.is-horizontal.is-twothird .card-image {
  flex: 8;
}
.card.is-horizontal.is-twothird .card-content {
  flex: 4;
}

.index_section + .index_section {
  margin-top: 3em;
}