{{ define "title" -}}
{{.CurrentSection.Title}} {{ partial "date/date_value" .}} {{ partial "read/read_issue_number_value" .}}: {{ .Title }}
| {{ .Site.Title }}
{{- end }}

{{ define "header" }} {{ partial "menu" . }} {{ end }}

{{ define "main" }}

<div class="section">
  <div class="container" itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="title"><a href="{{.CurrentSection.URL | relLangURL}}">{{.CurrentSection.Title}}</a></div>
        <p class="subtitle">{{.CurrentSection.Description}}</p>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="columns is-mobile is-vcentered">
          <div class="column">
            {{ partial "read/read_issue_number" .}}
            <p class="title is-4">{{ partial "date/date_value" .}}</p>
          </div>
          <div class="column has-text-right">
            {{ partial "share" .}}
          </div>
        </div>
        <div class="content">
          {{ .Content}}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section has-background-light">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        {{ partial "promotion/promotion" . }}
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        {{ if .Site.DisqusShortname }}
        <article>
          {{ template "_internal/disqus.html" . }}
        </article>
        {{ end }}
      </div>
    </div>
</section>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}