<nav class="navbar is-fixed-top {{if not .IsHome}}is-link{{ end }}">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL | relLangURL}}">
        <picture style="height:28px;">
          <source srcset="/images/square-logo.webp" type="image/webp">
          <source srcset="/images/square-logo.png" type="image/jpeg">
          <img src="/images/square-logo.png">
      </picture>
      </a>
      <a class="navbar-item" href="{{ .Site.BaseURL | relLangURL}}">
        {{ .Site.Title }}
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">

      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="navbar-end">
        {{ if .Site.Params.github}}
        <a class="navbar-item" target="blank" href="https://github.com/{{.Site.Params.github}}">
          <span class="icon">
            <i class="icon-github"></i>
          </span>
        </a>
        {{end}}

        {{ if .Site.Params.linkedin}}
        <a class="navbar-item" target="blank" href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}">
          <span class="icon">
            <i class="icon-linkedin-square"></i>
          </span>
        </a>
        {{end}}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a itemprop="url"
          class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}"
          href="{{.URL}}"><span itemprop="name" class="is-uppercase">{{ .Name }}</span></a>
        {{ end }}
        <a class="navbar-item" href='{{ "/search" | relLangURL}}'>
          <span class="icon">
            <i class="icon-search"></i>
          </span>
        </a>
        <div class="navbar-item">
          {{ if .IsTranslated }}
          <div class="field">
            <div class="control has-icons-left">
              <div class="select is-rounded is-small">
                <select size="1" name="links" onchange="window.location.href=this.value;">
                  <option selected disabled>{{ .Language.LanguageName }}</option>
                  {{ range .Translations }}
                  <option value="{{ .RelPermalink }}">{{ .Language.LanguageName }}</option>
                  {{ end}}
                </select>
              </div>
              <div class="icon is-small is-left has-text-black">
                <i class="icon-language"></i>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>

</nav>