{{ define "header" }} {{ partial "menu" . }} {{ end }}
{{ define "title" -}}
{{ .Title }} - {{ .Description }} | {{ .Site.Title }}
{{- end }}

{{ define "main" }}

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="title"><a href="{{.Parent.URL | relLangURL}}">{{.Parent.Title}}</a></div>
      </div>
    </div>
    <div class="columns">
        <div class="column is-8 is-offset-2">
            {{ partial "books/book_card" .}}
        </div>
      </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
        {{ range .Pages }}
        {{ partial "page-summary" . }}
        {{ .Summary }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div>
          <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a>
        </div>
        {{ end }}
        <hr />
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="container">
    {{ partial "pagination" . }}
  </div>
</div>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
