<div class="card">
  <div class="card-content">
    <div class="columns is-mobile">
      <div class="column is-one-quarter-desktop is-one-quarter-tablet is-one-third-mobile">
        <img src="{{ .RelPermalink }}{{ .Params.cover_image }}" alt="{{ .Title }}">
      </div>
      <div class="column">
        <div class="title is-4">{{ .Title }}</div>
        <div class="text">{{ .Description }}</div>
        <br />
        <a href="{{.RelPermalink}}">{{ i18n "read_my_notes" }} →</a>
      </div>
    </div>
  </div>
</div>